
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

:root {
    --COLOR-1: rgba(106, 4, 29, 0.7);
    --COLOR-2: #B2FFA9;
    --COLOR-3: #CBA328;
    --COLOR-4: rgba(109, 114, 117, 0.8);
    --COLOR-5: #136F63;

    --DEFAULT-SHADOW: 
    0 1.2px 3.7px rgba(0, 0, 0, 0.028),
    0 2.8px 8.9px rgba(0, 0, 0, 0.04),
    0 5.3px 16.8px rgba(0, 0, 0, 0.05),
    0 9.4px 29.9px rgba(0, 0, 0, 0.06),
    0 17.5px 56px rgba(0, 0, 0, 0.072),
    0 42px 134px rgba(0, 0, 0, 0.1);
  
}

body {
    font-family: 'Lora', serif;
    background-color: var(--COLOR-5);
    color: var(--COLOR-2);

    overflow-y: scroll;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 980px) {
    #content {
        max-width: 800px;
    }

    #personal-info {
        width: 600px;
        margin: 0px auto;
    }

    p {
        font-size: 1.1em;
    }

    #name-title {
        font-size: 2.5em;
    }

    .btn-icon {
        display: none;
    }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 980px) {
    #content {
        max-width: 590px;
    }

    #personal-info {
        width: 550px;
        margin: 0px auto;
    }
    p {
        font-size: 0.9em;
    }

    .btn-icon {
        display: none;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #content {
        max-width: 90vw;
    }

    #personal-info {
        width: 280px;
        margin: 0px auto;
    }
    p {
        font-size: 0.8em;
    }

    #name-title {
        font-size: 1.5em;
    }

    #address {
        font-size: 0.8em;
    }

    .btn-text {
        display: none;
    }

    .btn-icon {
        margin: 30px 10px 30px 10px;
    }
  }

#content {
    min-height: 50vh;
    display: flex;
    flex-direction: column;

    flex-grow: 3;
}

#buttons {
    margin: 5px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button:hover {
    color: var(--COLOR-3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#background-btn {
    margin-right: 20px;
    margin-left: 20px;
}

.div-default {
    width: auto;
    box-shadow: var(--DEFAULT-SHADOW);
}

.section {
    display: none;
    background-color: var(--COLOR-1);

    padding: 15px;

    color: var(--COLOR-2);
    font-size: 1.2em;
    text-align: justify;

    transition: all 0.5s ease-in-out;
}

#personal-info {
    background-color: var(--COLOR-3);
    min-height: 200px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-size: 1.3rem;
}

#personal-info > * {
    margin: 8px;
}

#personal-info a {
    color: black;
    text-decoration: none;
}

#numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}

#numbers * {
    margin: 5px;
}

#background {
    min-height: 400px;
}

#contact {
    min-height: 250px;
}

.career-era {
    background-color: var(--COLOR-4);
    padding: 5px;
    margin: 5px;

    display: flex;
    flex-direction: column;
    width: 100%;
}

.career-era p {
    margin: 5px;
}

.era-time {
    background-color: var(--COLOR-3);
    margin: 2px;
    padding: 5px;
    width: fit-content;
    color: var(--COLOR-1);
}

#subtitle {
    margin-top: 1px;
    color: var(--COLOR-2);
}

#contact-form {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 10px;
    min-width: 200px;
    max-width: 350px;
    padding: 5px;
    font-family: 'Lora', serif;
}

input.empty-field {
    border: 3px solid red;
}

textarea {
    font-family: 'Lora', serif;
    min-width: 250px;
    margin-top: 10px;
}

textarea.empty-field {
    border: 3px solid red;
}

input[type=submit], input[type=button] {
    cursor: pointer;
    background-color: var(--COLOR-3);
    font-weight: bold;
}

#loader {
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
    margin-top: 40px;
  }

#request-ok, #request-ko {
    display: none;
}
