/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loader {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: 40px;
}

h3 {
    text-align: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-top: 10px;
    min-width: 200px;
    max-width: 500px;
    padding: 5px;
    font-family: 'Noto Sans', sans-serif;
}

input.empty-field {
    border: 3px solid red;
}

textarea {
    font-family: 'Noto Sans', sans-serif;
    min-width: 250px;
    margin-top: 10px;
}

textarea.empty-field {
    border: 3px solid red;
}

input[type=submit],
.reset-form-btn {
    cursor: pointer;
    background-color: var(--COLOR-3);
    font-weight: bold;
}

